@using OilChangeApp.Data
@model Car

@{
    ViewData["Title"] = "حذف خودرو";
}

<div class=" col-12 col-md-10 d-flex mx-auto justify-content-center flex-column">
    <h3 class="mb-4 fs-5 fw-bold border-bottom pb-3">@ViewData["Title"]</h3>

    <h5 class="mb-3">آیا مطمئن هستید که می‌خواهید این خودرو را حذف کنید؟</h5>

    <div class="mb-5">
        <div class="d-flex ">
            <div class="fw-bold fs-3">نام خودرو </div>
            <div class=" mx-3" style="font-weight:bold">@Model.Name</div>
        </div>
    </div>

    <form asp-action="DeleteConfirmed" method="post">
        <div class="form-group col-12 col-md-4 d-flex">

        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-outline-danger col-4">حذف</button>
            <a asp-action="Index" class="btn btn-outline-secondary mx-3 col-4">بازگشت    </a>
    </div>

    </form>
</div>
