html {
  font-size: 14px;
}
body {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
    text-align: right;
}

.no-box-shadow {
    box-shadow: none !important;
}

.navbar .nav-link {
    color: #fff;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 15px 0;
}
.border-radius{
    border-radius:8px
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
 
 tr:nth-child(even)
{
    background-color:#d9d9d9
}
