@using OilChangeApp.Controllers
@model EditCustomerViewModel

@{
    ViewData["Title"] = "ویرایش مشتری";
}

<div class=" col-12 col-md-10 d-flex mx-auto justify-content-center flex-column">
    <h2 class="mb-4 fs-5 fw-bold border-bottom pb-3">@ViewData["Title"]</h2>

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <div class="form-group col-12 col-md-4">
            <label asp-for="Name" class="font14">نام</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-4">
            <label asp-for="PhoneNumber" class="font14">شماره تلفن</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group col-12 col-md-4">
            <label asp-for="SelectedCarId" class="font14">انتخاب خودرو</label>
            <select asp-for="SelectedCarId" class="form-control font14" style="height:40px" asp-items="Model.Cars">
                <option value="">انتخاب کنید</option>
            </select>
            <span asp-validation-for="SelectedCarId" class="text-danger"></span>
        </div>

        <div class="form-group col-12 col-md-4 d-flex justify-content-center">

            <button type="submit" class="btn btn-outline-primary col-4">ذخیره  </button>
            <a asp-action="Index" class="btn btn-outline-secondary mx-3 col-4">بازگشت</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
